
Fachbericht/Fachbericht.pdf
Fachbericht/Fachbericht.pdf
Software/Atmega/1_Firmware/Mikrocontroller/Debug/Mikrocontroller.hex
Software/Atmega/1_Firmware/Mikrocontroller/Debug/Mikrocontroller.lss
Software/Atmega/1_Firmware/Mikrocontroller/Debug/Mikrocontroller.map
Software/Atmega/1_Firmware/Mikrocontroller/Debug/Mikrocontroller.srec
Software/Atmega/1_Firmware/Mikrocontroller/main.c
Fachbericht/Fachbericht.log
Fachbericht/Fachbericht.pdf
